<%= form_with model: writing do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% writing.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :logline %><br>
    <%= form.text_area :logline %><br>
    <% writing.errors.full_messages_for(:logline).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
      <%= form.label :PDF %><br>
      <%= form.file_field :w_file %>

      <% if @writing.w_file.attached? %>
        <%= form.label :remove_w_file %>
        <%= form.check_box :remove_w_file %>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
